body{
	background:black;
	color:white;
	padding:0px;
	margin:0px;

}

#container{

	width:960px;
	margin:0 auto;
	height:95vh;
}

#title{
	font-size:16pt;
}


#doggies{
	width:50%;

}

#doggies img {
	float:left;
	width:100%;
}

#intro{
	float:left;
	text-align:left;
	padding:10px;

}


nav{

}

nav ul{
	border:solid 1px white;
	list-style:none;
	padding:0px; 
}

nav ul li{
	border:solid 0px white;
	display:inline-block;
	text-align: center;
	width:24.6%;
	padding-top: 10px;
	padding-bottom: 10px;
	height:30px;
	font-size:14pt;

}


nav ul li:hover{
	background:white;
	color:black;
	cursor:pointer;
}


nav ul a{
	color:white;

}

nav ul li a:hover{
	color:black;
}


footer{
	text-align:center;
}